<div class="card-columns">
<% @posts.each do |post|%>
  <div class="card">

    <%= link_to post.url do %>
      <%= image_tag post.featured_image_url, class: "card-img-top" %>
    <% end %>

    <div class="card-body">
      <h5 class="card-title"><%= post.blog_entity.name  %></h5>
      <h6><%= link_to post.title, post.url, class: 'card-text' %></h6>
    </div>
    <div class="card-footer">
      <small class="text-muted"><%= post.created_at %></small>
    </div>
  </div>
<% end %>
</div>
